@import 'tailwindcss';

@theme {
    --font-sans: "Poppins", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


button {
    cursor: pointer;
}

::selection {
    background: #007527;
    /* highlight background */
    color: white;
    /* text color while selected */
}

@property --gradient-angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}